/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 4, 2016, 12:01:32 AM
    Author     : surbh
*/

#heading{
    //text-align: center;
}

#div2{
    visibility: hidden;
}

#div3{
    visibility: hidden;
}